/*****************************************
FONT
******************************************/
body {
   font-family: 'Open Sans', sans-serif;
}
/*****************************************
HEADING
******************************************/
header {
  text-align: left;
  margin: 0 0 30px 0;
  padding: 5px 0 20px 30px;
  width: 100%; 
}
a {
  text-decoration: none;
}
h1 {
  font-family:'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}
h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}
/*****************************************
BLOG ENTRY
******************************************/
div {
  max-width: 760px;
  margin: 0 auto;
  border: 3px solid grey;
  overflow: hidden;
}
div p {
  width: 400px;
  float:left;
  font-size: 75%;
  margin-top: -10px;
  white-space: pre-wrap;
}
h4 {
  font-size: 50%;
  margin-top: -10px;
}
h5 {
  font-size: 50%;
}
.blog img {
  max-width: 250px;
  float: left;
  margin: 25px 25px;
}
/*****************************************
FOOTER
******************************************/
footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
}
.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
/*****************************************
COLORS
******************************************/
header, body {
  background-color: #336699;
}
h1, h2 {
  color: #fff;
}
div {
  background-color: #fff
}